/* top right bottom left */

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width:600px;
    margin: 30px 0px 0px 450px ;   
    background-color: #DC827C; 
}

#form1{
    background-color: #f0f0f0;
    text-align: center;
    line-height: 40px;
    height: 640px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    padding-top: 20px ;
}

.place{
    border-radius: 5px;
    border-color: #332F64;
    width: 250px;
    height: 25px;
}
#register{
    background-color: #A30A00;
    padding: 5px 10px 5px 10px ;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border:none;
    font-weight: bold;
    color: white;
    margin-top: 50px ;
}
#fnamelabel{
    margin-right: 150px;
 }

 #lnamelabel{
    margin-right: 160px;
 }

 #telnolabel{
    margin-right: 200px;
 }

#emaillabel{
   margin-right: 195px;
}

#idlabel{
    margin-right: 160px;
 }

#Cpasswordlabel{
    margin-right: 110px;
}
#Rpasswordlabel{
    margin-right: 90px;
}
#doblabel{
    margin-right: 210px;
}

#forgotpassword{
    margin-left: 50px;
    margin-right: 100px;
    font-size: x-small;
}
#rMe{
    margin-left: 90px;
}
#rememberMe{
    font-size: x-small;
    margin-left: 120px;
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
}

#formm{
    display: flex;
}

#formleft{
    float:left;
    margin-left: 30px;
    margin-right: 20px;
    padding-bottom: 20px;
}

#formright{
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}