/* LoadingSpinner.css */
.loading-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed to center the spinner vertically */
  }
  
  .loading-spinner {
    border: 6px solid #f3f3f3; /* Light gray border */
    border-top: 6px solid #ff0000; /* Blue border for spinning effect */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; /* Spinning animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  