.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebar-item.active {
  background-color: #ff0000; /* Active color */
}

.schedule-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.day-selection {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.day-selection label {
  margin-right: 10px;
}

.time-slot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.time-slot label {
  margin-right: 10px;
}

.save-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.complaint-container {
  padding: 20px;
  text-align: center; /* Aligns the content to the center */
}

.complaint-form {
  display: inline-block; /* Makes the form a block-level element while keeping it inline for centering */
  text-align: left; /* Aligns the form content to the left */
}

.complaint-textarea {
  width: 100%;
  min-height: 500px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 4px;
}

.submit-button {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 9999px; /* Creates a fully rounded button */
  cursor: pointer;
}

.submit-button:hover {
  background-color: gray;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
